<!DOCTYPE html>
<html>
<head>
  <script language="javascript" type="text/javascript" src="/static/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="/static/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="/static/p5.dom.js"></script>
  <script language="javascript" type="text/javascript" src="/static/socket.io.min.js"></script>

  <script language="javascript" type="text/javascript" src="/static/settings_sketch.js"></script>

  <style>
      body {
        margin:0;
        overflow: hidden;
      }
  </style>
</head>

<body>
</body>
</html>
